.heading{
              color: black;
             
          }
          #img{
              height: 670px;
          }
          .quote {
                font-weight: 500;
                padding: 25px;
                position: relative;
                border-left: 4px solid #2E2E2E;
                margin: 30px 0;
                background:#F7F8E0;
                color: #6a6a8e;
                font-family: 'Poppins', sans-serif;
            }
          .card-heading{
              text-align: center;
              font-weight: bold;
          }
          .heading-text{
            text-align: -webkit-center;
            padding: 10px;
            width: 247px;
            /* position: relative; */
            border-bottom: 4px solid #2E2E2E;
            margin: 30px 0;
          }
          .service-pic{
              border-radius: 50%;
              width: 120px;
              padding: 15px;
              display: block;
              margin: auto;
             
             
          }
        /*  .service-pic:hover{
              transform: scale(1.5);
          }*/
          .service-para{
              text-align: center;
          }
          .team-member{
              height: 300px;
              width: 300px;
              margin: 10px;
              padding: 10px;
          }
          .team-pic{
              margin-top: 15px;
          }
           .teamimg{
              opacity: 1;
              display: block;
             /* width: 100%;
              height: auto;*/
              transition: .5s ease;
            /*  backface-visibility: hidden;*/
          }
         .middle {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                bottom: -73px;
                left: 275px;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
          }
            .container1:hover .image {
              opacity: 0.1;
                
            }

            .container1:hover .middle {
              opacity: 0.5;
            }

            .text {
              background-color: #1C1C1C;
                color: #FBFBEF;
              padding: 16px 32px;
                height: 50px;
                font-weight: bold;
            }
          .icon{
              height: 100px;
              width: 100px;
              display: block;
              margin: auto;
          }
          .icon-para{
                text-align: center;
                padding: 10px;
                margin: 15px;
          }
          .list{
              text-decoration: none;
              list-style-type: none;
          }
          .list a{
              color: white;
              text-decoration: none;
              padding: 3px;
              margin: 8px
          }
         .list a:hover{
             /* background-color: gray;*/
             border-bottom: 2px solid gray;
          }
          .footer-bottom{
              text-align: center;
              padding-bottom: 10px;
          }
          .footer-bottom a{
              margin: 18px;
              padding: 10px;
              color: black;
              
          }
          .footer-bottom a:hover{
              background-color: gray;
              border-radius: 50px;
          }
          #footer{
              padding: 35px 0 20px 0;
              color: #eee;
          }
          #footer .footer-top .footer-info .footer-links .footer-contact .footer-newsletter{
              margin-bottom: 20px;
          }
          .copyright {
               background-color: black;
                text-align: center;
                color: white;
                padding-top: 20px;
                padding-bottom: 15px;

            }